
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
zapier-interfaces-chatbot-embed:not([chatbot-id="cmcaynxzh002k7zi6eyov9bob"]) {
  display: none !important;
}
zapier-interfaces-chatbot-embed::part(status-indicator),
zapier-interfaces-chatbot-embed::part(error-indicator) {
  display: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

.active hr{
  @apply block
}

::-webkit-scrollbar{
  @apply hidden
}

@media (max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}